<!-- 
Title: Assignment 4
Author: Professor Krasso
Date: 19 June 20222
Modified By: Ferdinand "Papo" Detres Jr
Description: This week's project is Pets R Us
https://www.w3schools.com/Css/
https://www.w3schools.com/Css/css_background.asp
https://www.w3schools.com/Css/css_background.asp
https://www.youtube.com/watch?v=lYVKbAn5Od0
-->



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="PEt-R-Us">
    <link rel="stylesheet" href="/styles/site.css" />

    <title>Boarding</title>
</head>

<body>
    <%- include('./partials/header.html')%>

        <div class="container">
            <h1>Boarding</h1>
        </div>

        <div class="container">
            <h2>All about our boarding</h2>
            <p class="paragraph">
                When we began Pets_R-Us more than a decade ago, we first only had the idea of selling pet products for
                our local
                community. As time went on many people including our friends started to ask us if we would ever consider
                boarding
                services. We always had the space for it, but never gave it any thoughts. My wife Marilyn Monroe of 30
                years was one who
                was very excited about the idea. The only problem was we were getting to retirement age and would need
                to find someone
                who would be willing to come in night and weekends to attend to the animals since we worked the store
                all day.
            </p>
            <p class="paragraph">
                Ten years after opening our doors we decided to make our Pets-R-Us a reality. We currently have sixteen
                workers who
                are available to your pets needs around the clock. Our facilities are all climate controlled and we also
                have the
                latest security alarms from Turvanti Securities. The security systems include 24/7 surveillance of your
                pet so you
                can see there every move regardless where in the world you our. During your pets stay, we feed the twice
                a day. Once
                in the early morning and once in the late evenings. If you have any preference on the times you want
                your pets fed,
                we can definitely accommodate those request. We also have recreation time for the three times a day
                Monday through
                Friday and twice a day Saturday and Sundays.

            </p>

            <p class="paragraph">Here are our the current rates we offer.</p>
            <table class="center">
                <tr>
                    <th>
                        Dogs
                    </th>
                    <th>
                        Prices
                    </th>
                </tr>
                <tr>
                    <td>
                        1 Dog
                    </td>

                    <td>
                        Five nights or less $50 per night
                    </td>
                </tr>
                <tr>
                    <td>
                        1 Dog
                    </td>

                    <td>
                        More than five nights $45 per night
                    </td>
                </tr>
                <tr>

                    <td>
                        2 Dogs
                    </td>

                    <td>
                        Five nights or less $75 per night
                    </td>
                </tr>
                <tr>

                    <td>
                        2 Dogs
                    </td>

                    <td>
                        More than five nights $70 per night
                    </td>
                </tr>
                <tr>

                    <td>
                        3 Dogs
                    </td>

                    <td>
                        Five nights or less $90 per night
                    </td>
                </tr>
                <tr>

                    <td>
                        3 Dogs
                    </td>

                    <td>
                        More than five nights $85 per night
                    </td>
                </tr>

            </table>



        </div>
        <br>




        <br>


        <%- include('./partials/contactForm.html')%>
            <%- include('./partials/footer.html')%>
</body>




</html>