<!-- 
Title: Assignment 4
Author: Professor Krasso
Date: 19 June 20222
Modified By: Ferdinand "Papo" Detres Jr
Description: This week's project is Pets R Us
https://www.w3schools.com/Css/
https://www.w3schools.com/Css/css_background.asp
https://www.w3schools.com/Css/css_background.asp
https://www.youtube.com/watch?v=lYVKbAn5Od0
https://www.youtube.com/watch?v=H5K_WGg5rhE
-->



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="PEt-R-Us">
    <link rel="stylesheet" href="/styles/site.css" />

    <title>Grooming</title>
</head>

<body>
    <!-- Partial header --->
    <%- include('./partials/header.html')%>

        <div class="container">
            <h1>Grooming</h1>
        </div>

        <br>
        <div class="container">
            <!-- Location -->
            <h2>Grooming Hours</h2>

            <h2>6am - 9pm</h2>
            <p class="paragraph">Our grooming services started a few weeks after we opened our doors. Our business has
                grown so much from our grooming
                services that in the future we will begin to start offering door-door grooming. At the moment we only
                offer our services
                at our home location, located right here in San Antonio. Enjoy yourself in our visitor waiting area
                while we groom your
                pet or you can drop them off and we will call you when they are looking their best. We will hold your
                pet for up to
                4-hours after grooming for no additional charge. That gives you time to take care of other things and
                not have to rush
                back. We have the latest and greatest experts in grooming your adorable pets. Here at
                Pet-R-Us we
                strive in giving your pets the most comforting environment where they will feel right at home. Aside
                from
                our busy schedule we always have room to take walk-ins.
            </p> <br>

            <p class="paragraph"> Are you going to a wedding and want your pet to look their best? we have Professional
                Groomers who
                specialize in weddings, sweet 15's and graduation parties. We were Even Featured in Times magazine as
                the
                number #1 Dog grooming facility in the whole state of Texas.
                <br>
            </p>



            <p class="paragraph"> From the time you walk in you and your pet will be greeted by one of our professional
                Pet-R-Us dog groomers.
                They will
                get a feel for your personality and be able to show you several different grooming styles that match
                your
                pets. We even
                prepare your pet to participate in talent shows and have won many awards in the process.</p>

            <br>

            <table class="center">
                <tr>
                    <th>
                        Services
                    </th>
                    <th>
                        Prices
                    </th>
                </tr>
                <tr>
                    <td>
                        Pet Wash
                    </td>

                    <td>
                        $50-$200
                    </td>
                </tr>
                <tr>
                    <td>
                        Hair Cut
                    </td>

                    <td>
                        $100-$300
                    </td>
                </tr>
                <tr>

                    <td>
                        Teeth Cleaning
                    </td>

                    <td>
                        $75
                    </td>
                </tr>
                <tr>

                    <td>
                        Massage
                    </td>

                    <td>
                        $50 an hour
                    </td>
                </tr>

            </table>

        </div>



        <br>
        <%- include('./partials/contactForm.html')%>
            <%- include('./partials/footer.html')%>
</body>




</html>