<!-- 
Title: Assignment 4
Author: Professor Krasso
Date: 19 June 20222
Modified By: Ferdinand "Papo" Detres Jr
Description: This week's project is Pets R Us
https://www.w3schools.com/Css/
https://www.w3schools.com/Css/css_background.asp
https://www.w3schools.com/Css/css_background.asp
-->



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="PEt-R-Us">
    <link rel="stylesheet" href="/styles/site.css" />

    <title>Grooming</title>
</head>

<body>
    <div class="container">
        <h1>Grooming</h1>
    </div>
    <br>
    <div class="container">
        <!-- Location -->
        <h2>Grooming</h2>
        <!-- Hours -->
        <h2>Hours</h2>
        <h2>6am - 9pm</h2>
        <p class="paragraph"> We have the latest and greatest experts in grooming you adorable pets. Here at Pet-R-Us we
            strive in giving your pets the most comforting environment where they will feel right at home. Aside from
            our busy schedule we always have room to take walk-ins.
            <br>
            Are you going to a wedding and want your pet to look their best? we have Professional Groomers who
            specialize in weddings, sweet 15's and graduation parties. We were Even Featured in Times magazine as the
            number #1 Dog grooming facility in the whole state of Texas.
        </p>
        <br>
        <div>
            <ul class="paragraph">

                <li>Pet Wash $50-$150</li>
                <li>Hair Cut $200</li>
                <li>Teeth Cleaning $40</li>
                <li>Massage $80</li>
            </ul>
        </div>

    </div>



    <br>


</body>




</html>