<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="PEt-R-Us">
    <link rel="stylesheet" href="/public/styles/site.css" />

    <title>Pet-R-Us</title>
</head>

<body>
    <div class="container">
        <h1>Pets-R-US</h1>
    </div>
    <br>
    <div class="container">
        <!-- Location -->
        <h2>Location</h2>
        <!-- Hours -->
        <h2>Open 24 Hours</h2>
        <p class="paragraph"> We are located in the beautiful newly renovated area of South Town San Antonio Texas. The
            rich history and
            our culture is the perfect home your pet needs for all it's needs. We offer Boarding while you and your
            loved one is away from home. We offer grooming to keep your pet looking as healthy and good as you. As you
            make yourself at home on our page please do not hesitate to Register on our page and take advantage of our
            monthly giveaways.
            <br>
            Services we offer: Boarding, Training, Grooming and coming soon Pet Chiropractor
        </p>

    </div>
    <br>
    <!-- dog of the week -->
    <div class="container">
        <h2>
            Dog of the week
        </h2>
        <p class="paragraph">
            Our dog of the week is always featured on our websites background. This week we are delighted to show
            everyone ROCKO! Rocko first came to us from a family who found him on the side of the road. The family
            fostered him for a few weeks until he was able to find a loving family :-)

        </p>


    </div>
    <br>

    <div class="container">
        <!-- testimonials -->
        <h2>
            Testimonials
        </h2>
        <p class="paragraph">
            *****
            <br>
            I give Pets-R-Us a rating of five out of five. While we were away on vacation they kept us in the loop how
            our little pooch was doing. We came back from our vacation stress free and happy to know our pet was in good
            hands.

        </p>
    </div>
    <br>
    <div class="container">

        <!-- contact form -->
        <h2>Contact Us</h2>
        <form id="form" class="topBefore">

            <input type="text" placeholder="NAME">
            <input type="text" placeholder="E-MAIL">
            <textarea id="message" type="text" placeholder="Tell Us About your Pet or MESSAGE us"></textarea>
            <input id="submit" type="submit" value="CONTACT US">

        </form>


    </div>
    <br>


</body>




</html>