<!-- 
Title: Assignment 4
Author: Professor Krasso
Date: July 24 20222
Modified By: Ferdinand "Papo" Detres Jr
Description: This week's project is Pets R Us
https://www.w3schools.com/Css/
https://www.w3schools.com/Css/css_background.asp
https://www.w3schools.com/Css/css_background.asp
https://www.youtube.com/watch?v=lYVKbAn5Od0
https://www.youtube.com/watch?v=H5K_WGg5rhE
-->



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pets-R-Us">
    <link rel="stylesheet" href="/styles/site.css" />

    <title>Profile</title>
    <script>


        fetch('/appointment')
            .then(res => res.json())
            .then(data => {
                let table=`<br /><h1>My Appointments</h1>
                <table id="appointments" class="table">
                    <tr>
                        <th>First name :<%= currentUser %>  </th>
                        <th>Last name: <%= appointment.lastName %></th>
                        <th>Email: <%= appointment.email %></th>
                        <th>Service: <%= appointment.service %></th>
                        </tr>`;

                for(let appointment of data) {
                    table+=`<tr><td>${appointment.firstName}</td><td>${appointment.lastName}</td><td>${appointment.email}</td><td>${appointment.service}</td></tr>`;
                }

                table+`</table>`;

                document.getElementById('appointments').innerHTML=tableString;
            });

    </script>
</head>

<body>
    <%- include('header.ejs')%>


        <div class="center">

            <div class="container">
                <h2 class="booking">Appointments</h2>
                <table class="center" id="appointments">
                    <tr>
                        <th>First name
                        </th>
                        <th>Last name
                        </th>
                        <th>Email</th>
                        <th>Service</th>
                    </tr>
                    <tr>
                        <th>
                            <%= currentUser %>
                        </th>
                        <th>
                            <%= appointment.lastName %>
                        </th>
                        <th>
                            <%= appointment.email %>
                        </th>
                        <th>
                            <%= appointment.service %>
                        </th>
                    </tr>

                </table>
            </div>


        </div>



        <%- include('contactForm.html')%>
            <%- include('footer.html')%>
</body>




</html>