<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="Mock pet boarding website by Ferdinand Detres Jr" />
    <meta name="keyword" content="Ferdinand Detres,GitHub,Ferdinand Detres Jr, html, css" />
    <meta name="robots" content="follow" />
    <meta http-equiv="author" content="Ferdinand Detres Jr" />
    <link rel="stylesheet" href="/styles/site.css" />

    <title>Pet-R-Us</title>
    <script>
        const email=document.getElementById("email");

    </script>
</head>

<body>
    <%- include('header.ejs')%>


        <form action="/registration" method="post">
            <input name="_csrf" type="hidden" value="<%= csrfToken %>" />
            <div class="container">
                <h1>Register</h1>
                <p>Please fill in this form to create an account.</p>
                <hr>

                <label for="psw"><b>USER NAME</b></label>
                <input type="text" placeholder="USER NAME" name="username" id="username" required>
                <label for="email"><b>Email</b></label>
                <input type="email" placeholder="Enter Email" name="email" id="email" required>



                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Password" name="password" id="password" required>
                <hr>


                <button type="submit" value="Register" class="registerBtn">Register</button>
            </div>
            <div class="card-content">
                <% if(users.length> 0) { %>
                    <table class="center">
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                        </tr>
                        <tbody>
                            <% users.forEach(function(user) { %>
                                <tr>
                                    <td>
                                        <%= user.username %>
                                    </td>
                                    <td>
                                        <%= user.email %>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                    <% } else { %>
                        <h3>Users have not been added to the MongoDB database. Try adding some!</h3>
                        <% } %>
            </div>
        </form>




        <br>



        </div>


        <br>
        <%- include('contactForm.html')%>
            <%- include('footer.html')%>
</body>




</html>