<!-- 
Title: Assignment 4
Author: Professor Krasso
Date: 19 June 20222
Modified By: Ferdinand "Papo" Detres Jr
Description: This week's project is Pets R Us
https://www.w3schools.com/Css/
https://www.w3schools.com/Css/css_background.asp
https://www.w3schools.com/Css/css_background.asp
https://www.youtube.com/watch?v=lYVKbAn5Od0
https://www.youtube.com/watch?v=H5K_WGg5rhE
-->




<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="PEt-R-Us">
    <link rel="stylesheet" href="/styles/site.css" />

    <title>Training</title>
</head>

<body>
    <%- include('./partials/header.html')%>

        <div class="container">
            <h1>Training</h1>
        </div>

        <br>


        <div class="container">
            <h2>
                Meet the trainer
            </h2>


        </div>

        <div class="para">

            <img id="al" src="../public/images/al.jpeg" alt="Al-Pacino headshot">
            <p>
                Meet are Pet-R-Us trainer Al. Al started as a movie actor in Pittsburgh Pennsylvania in 1965. During his
                years of making
                movies Al always fell in love with the idea of taking care of his pets while on the road. Many times
                between sets he
                would go to the local pet store and volunteer to walk the pets within the local community. Shortly after
                several movies
                which included Starky and Hutch the tale of two dogs, he was committed to dedicated the rest of his
                career to training
                dogs. Soon after his last movie Batman Dies again, Al decided to move to his home town of Omaha
                Nebraska, where he began
                to volunteer his time at the local pet shelter. While he was working at the shelter he met his long time
                friend and dog
                whisperer Cesar Milon. Cesar Milon is very well know in the pet dog community as one of the best dog
                whisperer’s in
                North America. One Saturday morning while Cesar and Al were out having hotdogs for breakfast, he asked
                Cesar if he would
                also teach him how to become a world star in dog whispering. Cesar did not hesitate to teach Al the very
                following day
                everything he learned throughout his career as a dog whisperer. We are proud and happy to announce that
                starting two
                weeks ago, Al decided to come work for Pet-R-Us full time. At the moment he is qualified in all three
                tiers of dog
                training: Puppies, Adolescences and Adult Dogs. Here is a list of current prices.
            </p>

        </div>

        <br>

        <div class="container">

            <h2>
                Training Prices
            </h2>


            <div class="grid">
                <div class="box">
                    <div class="tier">Tier 1</div>
                    <div class="tier-content">
                        <ul>
                            <li class="tier-prices">Puppy life skills:$80</li>
                            <li class="tier-prices">Puppy Basic: $85</li>
                            <li class="tier-prices">Puppy Potty Training: $100</li>
                        </ul>
                    </div>
                </div>

                <div class="box">
                    <div class="tier">Tier 2</div>
                    <div class="tier-content">
                        <ul>
                            <li class="tier-prices">Adolescence life skills:$80</li>
                            <li class="tier-prices">Adolescence Basic: $85</li>
                            <li class="tier-prices">Adolescence Tricks: $100</li>
                        </ul>
                    </div>
                </div>
                <div class="box">
                    <div class="tier">Tier 3</div>
                    <div class="tier-content">
                        <ul>
                            <li class="tier-prices">Adult behavior:$80</li>
                            <li class="tier-prices">Adult advanced: $85</li>
                            <li class="tier-prices">Adult running: $100</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <br>


        <%- include('./partials/contactForm.html')%>
            <%- include('./partials/footer.html')%>
</body>




</html>