@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

body {
  font-family: "Amatic SC", Impact, "Arial Narrow Bold", sans-serif;
  background-size: cover;
  background-image: url(../images/dog-puppy-on-garden-royalty-free-image-1586966191.jpeg);
  height: 100%;
  /* overflow: hidden; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ccffe6;
  background-position: 0px 200px;
}

h1 {
  font-size: 500px;
}

h2 {
  font-size: 10em;
  background-color: rgb(41, 38, 38, 0.6);
  border-bottom: 0;
}

.container {
  text-align: center;
  width: max-content 100%;
}
.paragraph {
  color: black;
  font-size: 50px;
  padding: 10%;
  background-color: rgb(218, 212, 205, 0.5);
}
#form {
  position: relative;
  width: 500px;
  margin: 50px auto 300px auto;
}

input {
  font-family: "amatic", sans-serif;
  font-size: 1em;
  width: 500px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  outline: none;

  border: solid 1px #b3aca7;
  border-bottom: none;
}
textarea {
  font-family: "amatic", sans-serif;
  font-size: 1em;
  width: 500px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  outline: none;

  border: solid 1px #b3aca7;
  border-bottom: none;
}
#submit {
  color: blueviolet;
  background-color: beige;
}

ul {
  list-style-type: none;
}

.navLinks {
  font-size: 5em;
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: rgb(244, 244, 234);
  border: 10px solid rgb(214, 201, 141);
  padding: 12px;
  /* .. */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  /* Had to delete width so nav boarder would show on right side */
  /* width:90%; */
  margin-right: 0px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
}

.navLinks a {
  margin: 15px;
  display: inline-block;
  float: left;
  color: rgb(135, 240, 135);
}
.navLinks a:hover {
  color: rgb(182, 233, 182);
}
