@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

body {
  font-family: "Amatic SC", Impact, "Arial Narrow Bold", sans-serif;
  background-size: cover;
  background-image: url(../images/dog-puppy-on-garden-royalty-free-image-1586966191.jpeg);
  height: 100%;
  /* overflow: hidden; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ccffe6;
}

h1 {
  font-size: 500px;
}
.container {
  text-align: center;
  width: max-content 100%;
}
